fuel/app/logs/*/*/*
fuel/app/cache/*/*
/.settings
/.buildpath
/.project
/tmps
.DS_Store
_site/
/.project
Breakpoints.xcbkptlist
*.xcuserstate
*.xcodeproj/*
*xcuserdata
!*.xcodeproj/project.pbxproj
**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
*~
*.bak
desktop.ini
.buildpath
.settings
*.tmproj
nbproject/
.idea
.local
tmps/
tmp/
*Project.zip
*Model.zip
setupunicorn
.dbinitialized
/nbproject/
/.vagrant
/cache
/logs
